* {
    margin: 0;
    padding: 0;

}

.main {
    background-image: url("header-image.png");
    background-position: center center;
    height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    /* background-size: max(1200px, 80vw); */
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    height: 62px;
}

span img {
    height: 40px;
    width: 140px;
    position: relative;
    z-index: 10;
}

button {
    position: relative;
    z-index: 10;
}